
jpa-one-to-one-demo-01/.mvn/wrapper/maven-wrapper.properties
jpa-one-to-one-demo-01/.mvn/wrapper/maven-wrapper.properties
jpa-one-to-one-demo-01/HELP.md
jpa-one-to-one-demo-01/mvnw.cmd
jpa-one-to-one-demo-01/.mvn/wrapper/maven-wrapper.properties
jpa-one-to-one-demo-01/.mvn/wrapper/MavenWrapperDownloader.java
jpa-one-to-one-demo-01/target/classes/application.properties
jpa-one-to-one-demo-01/target/classes/com/tutorials/Main.class
jpa-one-to-one-demo-01/target/classes/com/tutorials/model/Gender.class
jpa-one-to-one-demo-01/target/classes/com/tutorials/model/User.class
jpa-one-to-one-demo-01/target/classes/com/tutorials/model/UserProfile.class
jpa-one-to-one-demo-01/target/classes/com/tutorials/repository/UserProfileRepository.class
jpa-one-to-one-demo-01/target/classes/com/tutorials/repository/UserRepository.class
jpa-one-to-one-demo-01/target/jpa-one-to-one-demo-01-0.0.1-SNAPSHOT.jar
jpa-one-to-one-demo-01/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
jpa-one-to-one-demo-01/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
jpa-one-to-one-demo-01/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
jpa-one-to-one-demo-01/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
jpa-one-to-one-demo-01/target/surefire-reports/com.tutorials.MainTests.txt
jpa-one-to-one-demo-01/target/surefire-reports/TEST-com.tutorials.MainTests.xml
jpa-one-to-one-demo-01/target/test-classes/com/tutorials/MainTests.class
jpa-one-to-one-demo-01/target/maven-archiver/pom.properties
jpa-one-to-one-demo-01/target/jpa-one-to-one-demo-01-0.0.1-SNAPSHOT.jar.original
.idea/workspace.xml
